---
layout: app.njk
pagination:
  data: site.locales
  size: 1
  alias: loc
permalink: "{% if loc.code == 'ja' %}/zaitap/index.html{% else %}/{{ loc.code }}/zaitap/index.html{% endif %}"
app: "zaitap"
pageName: index
eleventyExcludeFromCollections: true
---
