---
layout: legal.njk
pagination:
  data: site.locales
  size: 1
  alias: loc
permalink: "{% if loc.code == 'ja' %}/zaitap/support.html{% else %}/{{ loc.code }}/zaitap/support.html{% endif %}"
app: "zaitap"
pageName: support
eleventyExcludeFromCollections: true
---
