---
layout: legal.njk
pagination:
  data: site.locales
  size: 1
  alias: loc
permalink: "{% if loc.code == 'ja' %}/zeical/privacy.html{% else %}/{{ loc.code }}/zeical/privacy.html{% endif %}"
app: "zeical"
pageName: privacy
eleventyExcludeFromCollections: true
---
