---
layout: app.njk
pagination:
  data: site.locales
  size: 1
  alias: loc
permalink: "{% if loc.code == 'ja' %}/forest-school/index.html{% else %}/{{ loc.code }}/forest-school/index.html{% endif %}"
app: "forest-school"
pageName: index
eleventyExcludeFromCollections: true
---
