---
layout: legal.njk
pagination:
  data: site.locales
  size: 1
  alias: loc
permalink: "{% if loc.code == 'ja' %}/forest-school/support.html{% else %}/{{ loc.code }}/forest-school/support.html{% endif %}"
app: "forest-school"
pageName: support
eleventyExcludeFromCollections: true
---
