---
layout: app.njk
pagination:
  data: site.locales
  size: 1
  alias: loc
permalink: "{% if loc.code == 'ja' %}/touten/index.html{% else %}/{{ loc.code }}/touten/index.html{% endif %}"
app: "touten"
pageName: index
eleventyExcludeFromCollections: true
---
