---
layout: legal.njk
pagination:
  data: site.locales
  size: 1
  alias: loc
permalink: "{% if loc.code == 'ja' %}/touten/support.html{% else %}/{{ loc.code }}/touten/support.html{% endif %}"
app: "touten"
pageName: support
eleventyExcludeFromCollections: true
---
