---
layout: app.njk
pagination:
  data: site.locales
  size: 1
  alias: loc
permalink: "{% if loc.code == 'ja' %}/newsprism/privacy.html{% else %}/{{ loc.code }}/newsprism/privacy.html{% endif %}"
app: "newsprism"
pageName: privacy
eleventyExcludeFromCollections: true
---
