---
layout: app.njk
pagination:
  data: site.locales
  size: 1
  alias: loc
permalink: "{% if loc.code == 'ja' %}/newsprism/support.html{% else %}/{{ loc.code }}/newsprism/support.html{% endif %}"
app: "newsprism"
pageName: support
eleventyExcludeFromCollections: true
---
