---
layout: app.njk
pagination:
  data: site.locales
  size: 1
  alias: loc
permalink: "{% if loc.code == 'ja' %}/phraseflow-christianity/support.html{% else %}/{{ loc.code }}/phraseflow-christianity/support.html{% endif %}"
app: "phraseflow-christianity"
pageName: support
eleventyExcludeFromCollections: true
---
