---
layout: legal.njk
pagination:
  data: site.locales
  size: 1
  alias: loc
permalink: "{% if loc.code == 'ja' %}/rakubill/privacy.html{% else %}/{{ loc.code }}/rakubill/privacy.html{% endif %}"
app: "rakubill"
pageName: privacy
eleventyExcludeFromCollections: true
---
