---
layout: app.njk
pagination:
  data: site.locales
  size: 1
  alias: loc
permalink: "{% if loc.code == 'ja' %}/cool-walk/index.html{% else %}/{{ loc.code }}/cool-walk/index.html{% endif %}"
app: "cool-walk"
pageName: index
eleventyExcludeFromCollections: true
---
