---
layout: legal.njk
pagination:
  data: site.locales
  size: 1
  alias: loc
permalink: "{% if loc.code == 'ja' %}/cool-walk/support.html{% else %}/{{ loc.code }}/cool-walk/support.html{% endif %}"
app: "cool-walk"
pageName: support
eleventyExcludeFromCollections: true
---
