---
layout: legal.njk
pagination:
  data: site.locales
  size: 1
  alias: loc
permalink: "{% if loc.code == 'ja' %}/wbgt-recorder/privacy.html{% else %}/{{ loc.code }}/wbgt-recorder/privacy.html{% endif %}"
app: "wbgt-recorder"
pageName: privacy
eleventyExcludeFromCollections: true
---
