---
layout: app.njk
pagination:
  data: site.locales
  size: 1
  alias: loc
permalink: "{% if loc.code == 'ja' %}/zeiro/index.html{% else %}/{{ loc.code }}/zeiro/index.html{% endif %}"
app: "zeiro"
pageName: index
eleventyExcludeFromCollections: true
---
