---
layout: app.njk
pagination:
  data: site.locales
  size: 1
  alias: loc
permalink: "{% if loc.code == 'ja' %}/pagepace/privacy.html{% else %}/{{ loc.code }}/pagepace/privacy.html{% endif %}"
app: "pagepace"
pageName: privacy
eleventyExcludeFromCollections: true
---
