---
layout: app.njk
pagination:
  data: site.locales
  size: 1
  alias: loc
permalink: "{% if loc.code == 'ja' %}/pagepace/support.html{% else %}/{{ loc.code }}/pagepace/support.html{% endif %}"
app: "pagepace"
pageName: support
eleventyExcludeFromCollections: true
---
