---
layout: app.njk
pagination:
  data: site.locales
  size: 1
  alias: loc
permalink: "{% if loc.code == 'ja' %}/phraseflow-religion/support.html{% else %}/{{ loc.code }}/phraseflow-religion/support.html{% endif %}"
app: "phraseflow-religion"
pageName: support
eleventyExcludeFromCollections: true
---
