---
layout: app.njk
pagination:
  data: site.locales
  size: 1
  alias: loc
permalink: "{% if loc.code == 'ja' %}/briefforge/index.html{% else %}/{{ loc.code }}/briefforge/index.html{% endif %}"
app: "briefforge"
pageName: index
eleventyExcludeFromCollections: true
---
