---
layout: app.njk
pagination:
  data: site.locales
  size: 1
  alias: loc
permalink: "{% if loc.code == 'ja' %}/briefforge/support.html{% else %}/{{ loc.code }}/briefforge/support.html{% endif %}"
app: "briefforge"
pageName: support
eleventyExcludeFromCollections: true
---
